/* ///////// HTML BODY //////// */

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/*PARAGRAPHE GENERAL*/

.paragraphe{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}


.paragraphe p {
    margin-bottom: 2%;
}

/* ///////// IMAGE /////////// */

.logoConnectife {
    margin-top: 1%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto
}


/* ////////// INPUT SELECT ///////// */

input {
    background-color: black;
    border: white solid 3px;
    color: white;
    width: 42%;
    padding: 5px;
}

select {
    background-color: black;

    color: black;
    width: 42%;
    padding: 5px;
}


input:hover{
    border-color:rgb(64, 144, 163)
}


/* ////////// MESSAGE ERREUR ////////// */

.messageErreurTel {
    margin-left: 0;
    color: red;
}


.messageErreur {
    height: 1px;
    margin: 1px;
}

.error {
    border-color: red
}

.container .messageErreur {
    color: red;
    margin-left: 195px;
}

.messageErreurVille {
    height: 1px;
    margin: 1px;
}

/* ///////// POSITION /////// */

.container label, span {
    float:left;
    width:180px;
}

.container {
    margin-left: 30%;
    margin-top: 20px;
}

.sub input {
    background-color: black;
    border: white solid 2px;
    color: white;
    float: left;
    margin-left: 67%;
    width: auto;
    cursor: pointer;
}
.sub input:hover {
    border-color: rgb(64, 144, 163);
    color: rgb(64, 144, 163);
}
.champs {
    margin-left: 60%;
}

#codePostal {
    width: 18%;
}

.civilite {
    margin-left: 30%;
    display: flex;
    margin-top: 1%;
}

/* ///////// PERSONNALISATION CHECKBOX //////// */

.radio {
    display: inline-block;
    vertical-align: middle;
    color: white;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-top: -6px;
    padding-top: 10px;
}

.radio +.radio {
    margin-left: 20px;
}

.radio input[type="radio"] {
    display: none;
}
.radio span {
    height: 20px;
    width: 20px;
    border: 2px solid white;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;

}
.radio span:hover {
    border-color: rgb(64, 144, 163);

}

.radio span:after {
    content: '';
    height: 8px;
    width: 8px;
    border: white 2px solid;
    background-color: white;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.radio input[type="radio"]:checked ~span:after {
    transform: translate(-50%, -50%) scale(1);

}

/* //////// PERSONNALISATION SELECT ///////// */

.select-wrapper {
    display:block;
    overflow-x:hidden;
    border-top: 2px solid white;
    border-bottom:  2px solid white;
    border-right:  2px solid white;
    border-left:  2px solid white;
    width: 43%;
    cursor:pointer;
}

.select-wrapper select {
    min-width: 94%;
    cursor: pointer;
    text-shadow: 0 0 0 #000;
    -webkit-appearance: none;
    outline: none;
    white-space: nowrap;
    width: 43%;
    color: white;
    border-right: 2px solid white;
}
.select-wrapper select:hover {
    border-color: rgb(64, 144, 163);
}

.select-wrapper:after {
    content:"V";
    display:block;
    position:relative;
    float:right;
    top: 5px;
    right: 2px;
    width: 30px;
    text-align:center;
    margin-bottom:-25px;
}

/* //////////////// PAGE ACCUEIL ///////////// */

.logoLike {
    width: 11%;
    margin-left: 45%;
    margin-top: 2%;
}

.paragraphe-acceuil {
    margin-left: 30%;
    margin-top: 2%
}
.paragraphe-acceuil p {
    margin-top: 3%;
}

.paragraphe-milieu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    margin-top: 3%;
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 80px;
    text-decoration: none;
    text-align: center;
    padding:20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    border-color: rgb(64, 144, 163);
    color: rgb(64, 144, 163);;
}

/* //////////////// PAGE FORM DONE ///////////// */

.logoCroixRouge {
    width: 10%;
}

.paragraphe-done {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size:x-large;
    flex-direction: column;
}

/* ////////////////// EMAIL INVALID //////////// */


.logoForbiden {
    margin-top: 3%;
    margin-left: 45%;
    width: 10%;
}

.buttonForm {
    margin-top: 12px;
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 160px;
    text-decoration: none;
    text-align: center;
    padding:20px 30px;
}
.buttonForm:hover {
    border-color: rgb(64, 144, 163);
    color: rgb(64, 144, 163);;
}

/* ////////////////////// PAGE XML COMPLET ET NORMAL ///////////////// */
.buttonXml {
    margin-top: 12px;
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 300px;
    text-decoration: none;
    text-align: center;
    padding:20px 30px;
}

.buttonXml:hover {
    border-color: rgb(64, 144, 163);
    color: rgb(64, 144, 163);
}

.paragrapheXml{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}
@media screen and (max-width: 700px){

    /* ////////// SELECT INPUT /////////// */

    .select-wrapper {
        display:block;
        overflow-x:hidden;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        border-left: 1px solid white;
        width: 63%;
        cursor:pointer;
    }

    .select-wrapper select {
        min-width: 84%;
        cursor: pointer;
        text-shadow: 0 0 0 #000;
        -webkit-appearance: none;
        outline: none;
        white-space: nowrap;
        color: white;
        border-right: 2px solid white;
    }

    .select-wrapper:after {
        top: 5px;
        right: 2px;
        width: 30px;
    }

    input {
        width: 60%;
        padding: 5px;
    }

    #codePostal {
        width: 32%;
        padding-bottom: 3px;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    .radio +.radio {
        margin-left: 0;
    }

    /* ////////// IMAGE ///////// */

    logoConnectife {
        margin-top: 1%;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }



    /* ////////// POSITION ///////// */

    .sub input {
        margin-left: 62%;
        width: auto;
    }
    .champs {
        margin-left: 25%;
    }

    .civilite {
        margin-left: 25%;
        display: flex;
        flex-direction: column;
    }
    .container #nom{
        margin-top: 0;

    }
    .container .messageErreur {
        height: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .civilite label {
        margin-top: 2%;
    }

    /* /////////// PAGE ACCUEIL ///////// */
    .paragraphe-acceuil {
        margin-top: 3%;
        margin-left: 3%;
    }
    .paragraphe-acceuil p {
        margin-top: 3%;
        display:flex;
        justify-content: center ;
        align-items: center;
        font-size: initial;
    }

    .paragraphe-milieu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* //////////////// PAGE FORM DONE /////////// */
    .paragraphe-done {
        margin-top: 23%;
        font-size: initial;
    }

}
@media screen and (max-width: 1400px) and (min-width: 1000px){

    .select-wrapper select {
        min-width: 90%;
        cursor: pointer;
        text-shadow: 0 0 0 #000;
        -webkit-appearance: none;
        outline: none;
        white-space: nowrap;
        width: 43%;
        color: white;
        border-right: 2px solid white;
    }

    .select-wrapper:after {
        top: 5px;
        margin-bottom:-25px;
    }

}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .select-wrapper:after {
        content:"V";
        display:block;
        position:relative;
        float:right;
        top: 5px;
        right: 2px;
        text-align:center;
    }

    .select-wrapper select {
        min-width: 90%;
        cursor: pointer;
        text-shadow: 0 0 0 #000;
        -webkit-appearance: none;
        outline: none;
        white-space: nowrap;
        width: 43%;
        color: white;
        border-right: 2px solid white;
    }

}



/* ////////////////// RESPONSIVE 1400 700 ////////// */

@media screen and (max-width: 1400px) and (min-width: 700px){
    .select-wrapper {
        display:block;
        overflow-x:hidden;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        border-left: 1px solid white;
        width: 45%;

    }
    .select-wrapper select {
        min-width: 90%;
        cursor: pointer;
        text-shadow: 0 0 0 #000;
        -webkit-appearance: none;
        outline: none;
        white-space: nowrap;
        width: 43%;
        color: white;
        border-right: 2px solid white;
    }

    .select-wrapper:after {
        content:"V";
        display:block;
        position:relative;
        float:right;
        top: 5px;
        right: 2px;
        width: 30px;
        text-align:center;
        margin-bottom:-25px;
    }

}

.imgFormOk{
    width: 12%;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.img404{
    width: 8%;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 7%;

}

footer{
    display: block;
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
    margin-top: 500px;

    font-family: Roboto, sans-serif;
}
.containerFooter{
    margin-left: 10%;
}

.containerLogoFooter {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 10px;
}
.nameFooter{
    margin-top: 1%;
    margin-left: 2%;
    font-weight: bold;
}

.nameFooter2{
    display: flex;
    margin-top: 1%;
    font-weight: bold;

}

.logoFooter{
    width: 60px;
    height: 60px;
}

.logoFooterHtml{
    width: 70px;
    height: 67px;
}

.logoFooterJs{
    width: 60px;
    height: 55px;
    margin-top: 5px;
}

.logoFooterPhp{
    width: 70px;
    height: 70px;
}

.logoFooterAjax{
    width: 70px;
    height: 60px;
}

.logoFooterCss{
    width: 62px;
    height: 61px;
    margin-top: 3px;
}

.logoFooterApache{
    width: 70px;
    height: 60px;

}

.divFooter{
    padding: 0px 20px 0px 20px;
}

.logoFooter:hover, .logoFooterCss:hover, .logoFooterApache:hover, .logoFooterPhp:hover, .logoFooterAjax:hover, .logoFooterHtml:hover, .logoFooterJs:hover{
    -moz-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px)
}